.pokeCard{
  width: 300px;
  height: auto;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  text-align: center;
  }
  .poke-images{
    position: relative;
    top: -55px;
  }
  .poke-types{
    display: flex;
    justify-content: space-evenly;
  }
  .poke-container{
    width: 100%;
  }
