.nav-container{

}
.navBar{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4rem;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);

}
a{
  text-decoration: none;
  font-size: 1.5rem;
  padding: 20px;
  color: black;
}