
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Quicksand&family=Raleway&family=Roboto:ital,wght@1,300&family=Ubuntu:wght@700&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}
body{
  background-color: #e3e6e4;
}
